.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:28px 16px 16px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding: 6px 8px;
    display: flex;
}
.navbar ul li svg{
    width: 20px;
    padding-right: 4px;
}
.categoryHeader{
    cursor: pointer;
}
.subCategoryHeader{
    padding-top: 20px;
    display: none;
    justify-content: center;
    position: absolute;
    top: 17%;
    width: 100%;
    left: 0;
    right: 0;
}
/* .singleCategory{
    position: relative;
} */
.singleCategory:hover .subCategoryHeader{
    display: flex;
}
.categoryheader{
    display: flex;
    justify-content: end;
    /* width: 60%; */
    padding: 30px 30px;
}

.singleList{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 60vw;
    background-color: #fff;
    /* text-align: center; */
}
.formInput{
    font-size: 16px;
    height: 48px;
    border: 1px solid #d0d0d0;
    width: 100%;
    font-family: HM Sans Regular;
    padding: 8px;
}
.label{
    font-family: HM Sans Regular;
    font-size: 13px;
}
.error{
    font-family: HM Sans Regular;
    font-size: 13px;
    color: red;
}
.sbtBtn:hover{
    background: #555 !important;
}