@font-face {
  font-family: HM Sans Regular;
  src: url(./../public/HMSansLatin-Regular.woff2) format('woff2');
}
body {
  margin: 0;
  font-family: HM Sans Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
  font-family: HM Sans Regular;
}
p{
  margin: 0;
  padding: 0;
}
input{
  border: none;
  border-bottom: 1px solid;
  font-family: HM Sans Regular;
  padding-left: 20px;
}
input:focus{
  outline: none;
}
h6{
  font-size: 42px;
  margin: 0;
  color: #fff;
}
.commonBtn{
  background-color: #fff;
  font-size: .8125rem;
  padding: 8px;
  color: #000;
}
.slick-prev:before, .slick-next:before{
  font-family: unset !important;
  color: #000 !important;
  /* opacity: 0 !important; */
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0 !important ;
}
a{
  text-decoration: none;
  color: #000;
  font-size: .8125rem;
  font-family: HM Sans Regular;
}
.dropdown-menu{
  border: none !important;
}